<?xml version="1.0" encoding="UTF-8"?>
<root>
   <google>
        <version>MK44</version>
        <name>gapps_kitkat-140619.zip</name>
        <changelog>gapps_kitkat-140619.log</changelog>
        <changelog_zh-cn>gapps_kitkat-140619_zh-cn.log</changelog_zh-cn>
        <md5>fba94c73443e800fb25a9660214012e2</md5>
        <checkflag>com.google.android.gms</checkflag>
        <description_zh-cn>谷歌服务包</description_zh-cn>
        <description>Google Mobile Service</description>
   </google>
   <google>
        <version>MK44</version>
        <name>uninstall_gapps_kitkat.zip</name>
        <changelog>uninstall_gapps_kitkat.log</changelog>
        <changelog_zh-cn>uninstall_gapps_kitkat_zh-cn.log</changelog_zh-cn>
        <md5>73ee16f365ab2d14e6ded858058f0913</md5>
        <checkflag>uninstall.com.google.android.gms</checkflag>
        <description_zh-cn>卸载谷歌服务包</description_zh-cn>
        <description>Uninstall Google Mobile Service</description>
   </google>
   <google>
        <version>MK44</version>
        <name>gapps-faceunlock_kitkat.zip</name>
        <changelog>gapps-faceunlock_kitkat.log</changelog>
        <changelog_zh-cn>gapps-faceunlock_kitkat_zh-cn.log</changelog_zh-cn>
        <md5>09253504c12837909e7a04de2ec1650e</md5>
        <checkflag>com.android.facelock</checkflag>
        <description_zh-cn>谷歌面部解锁扩展包</description_zh-cn>
        <description>Google FaceUnlock</description>
   </google>
   <application>
        <version>MK44</version>
        <name>MoKeeMarket.apk</name>
        <changelog>MoKeeMarket.log</changelog>
        <md5>8a707e1629e3138dca4fb722b1877014</md5>
        <checkflag>com.uucun50105128.android.cms</checkflag>
        <description_zh-cn>魔趣市场</description_zh-cn>
        <description>MoKee App Store</description>
   </application>
   <application>
        <version>MK44</version>
        <name>MarketExt.apk</name>
        <changelog>MarketExt.log</changelog>
        <md5>1c30170e4d268d9dd41b5c12473fd227</md5>
        <checkflag>com.android50105128.folder9582</checkflag>
        <description_zh-cn>装机必备</description_zh-cn>
        <description>Installed Recommended</description>
   </application>
   <application>
        <version>MK44</version>
        <name>GameCenter.apk</name>
        <changelog>GameCenter.log</changelog>
        <md5>5ca4aee9caac4f7e6dbad99707b7b42a</md5>
        <checkflag>com.android50105128.folder9583</checkflag>
        <description_zh-cn>游戏中心</description_zh-cn>
        <description>GameCenter</description>
   </application>
   <application>
        <version>MK44</version>
        <name>MoKeeForum.apk</name>
        <changelog>MoKeeForum.log</changelog>
        <md5>812fd16992154b605f2d637c6cf12f79</md5>
        <checkflag>com.mfunz.bbs</checkflag>
        <description_zh-cn>魔趣论坛客户端</description_zh-cn>
        <description>MoKee Forum Client</description>
   </application>
</root>

