<?xml version="1.0" encoding="UTF-8"?>
<root>
   <google>
        <version>MK44</version>
        <name>gapps_kitkat-140619.zip</name>
        <changelog>gapps_kitkat-140619.log</changelog>
        <changelog_zh-cn>gapps_kitkat-140619_zh-cn.log</changelog_zh-cn>
        <md5>fba94c73443e800fb25a9660214012e2</md5>
        <checkflag>com.google.android.gms</checkflag>
        <description_zh-cn>谷歌服务包</description_zh-cn>
        <description>Google Mobile Service</description>
   </google>
   <google>
        <version>MK44</version>
        <name>uninstall_gapps_kitkat.zip</name>
        <changelog>uninstall_gapps_kitkat.log</changelog>
        <changelog_zh-cn>uninstall_gapps_kitkat_zh-cn.log</changelog_zh-cn>
        <md5>73ee16f365ab2d14e6ded858058f0913</md5>
        <checkflag>uninstall.com.google.android.gms</checkflag>
        <description_zh-cn>卸载谷歌服务包</description_zh-cn>
        <description>Uninstall Google Mobile Service</description>
   </google>
   <google>
        <version>MK44</version>
        <name>gapps-faceunlock_kitkat.zip</name>
        <changelog>gapps-faceunlock_kitkat.log</changelog>
        <changelog_zh-cn>gapps-faceunlock_kitkat_zh-cn.log</changelog_zh-cn>
        <md5>09253504c12837909e7a04de2ec1650e</md5>
        <checkflag>com.android.facelock</checkflag>
        <description_zh-cn>谷歌面部解锁扩展包</description_zh-cn>
        <description>Google FaceUnlock</description>
   </google>
   <google>
        <version>MK44</version>
        <name>uninstall_gapps-faceunlock_kitkat.zip</name>
        <changelog>uninstall_gapps-faceunlock_kitkat.log</changelog>
        <changelog_zh-cn>uninstall_gapps-faceunlock_kitkat_zh-cn.log</changelog_zh-cn>
        <md5>eefd0d78fe16b2813e2e19204fc1b192</md5>
        <checkflag>uninstall.com.android.facelock</checkflag>
        <description_zh-cn>卸载谷歌面部解锁扩展包</description_zh-cn>
        <description>Uninstall Google FaceUnlock</description>
   </google>
   <application>
        <version>MK44</version>
        <name>MoKeeMarket.apk</name>
        <changelog>MoKeeMarket.log</changelog>
        <md5>71894ba7eed4d71907454feee3f28a85</md5>
        <checkflag>com.uucun50000206.android.cms</checkflag>
        <description_zh-cn>魔趣市场</description_zh-cn>
        <description>MoKee App Store (Chinese Only)</description>
   </application>
   <application>
   </application>
</root>

